.container {
    width: 42px;
    height: 24px;
    border-radius: 30px;
    border: 1.5px solid #53c28b70;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
    color: orange;
    position: relative;
    cursor: pointer;
}



.ball {
    width: 15px;
    height: 15px;
    background-color: #53c28b;
    border-radius: 50%;
    position: absolute;
}