.container {
    height: 50px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 10px;
}

.icon {
    opacity: 0.6;
    cursor: pointer;
}